{
    "ConnectionDefinition": [
        {
            "connectionType": "Developer API key",
            "userName": "",
            "password": "",
            "url": "",
            "uid":  ""
        },
        {
            "connectionType": "ApiToken",
            "apiToken": "",
            "url": "",
        }
    ]
    "TestFolder": "C:\\Users\\..."
}